<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.washedup.anagnosti.ergo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".authentication.YLoginActivity"
            android:isScrollContainer="true"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".authentication.YForgotPasswordActivity"/>
        <activity android:name=".authentication.YHomeActivity"/>
        <activity android:name=".authentication.YRegisterActivity"/>
        <activity android:name=".authentication.YNotVerifiedActivity"/>
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/api_key" />

        <activity android:name=".createEvent.CreateEventActivity"/>
        <activity android:name=".otherHomePossibilities.ChooseEventForPerspectiveActivity" />
        <activity android:name=".eventPerspective.EventPerspectiveActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".otherHomePossibilities.EventInvitationsActivity" />
    </application>

</manifest>